<h1>UnPolitics</h1>
<!-- add navigation, map, daily feature, issue links -->
<br>
<h3>USA</h3>

    <% @states.each do |state| %>
        <%= link_to state.state, state_path(state) %><br>

    <% end %>

<br>

