<p id="notice"><%= notice %></p>

<h2>
  <strong><%= @state.state %></strong>
  
</h2>

    <% @state.politicians.each do |politician| %>
   <%= link_to politician.name, politician_path(politician) %><br>   

    <% end %>

<br>
<%= link_to 'Back', states_path %>
