<h1>Submit new public statement for <%= @politician.name %></h1>

<%= render 'form_new_written' %>

<%= link_to 'Back', written_statements_path %>


<!-- put in pol controller so pol name is automatically associatiated, save on form -->