<h2>  <strong><%= @politician.name %> Timeline of Public Statements</strong>
</h2>
<br>
<br>

   <% @politician.written_statements.each do |written_statement| %>
     	<strong><%= link_to written_statement.statements, written_statement_path(written_statement) %></strong>
     	<br>
        <br>
        <!-- insert thumbnails of statements, which link to url -->
        <br>
	<% end %>