<h2>  <strong><%= @politician.name %> Timeline of Public Statements</strong>
</h2>
<br>
<br>

   <% @written_statements.each do |written_statement| %>
     	<strong><%= link_to written_statement.statements, politician_written_statements_path(written_statement) %></strong>
     	<br>
        <br>
        <!-- insert thumbnails of statements, which link to url -->
        <br>
	<% end %>


        <!-- ability to sort by issue -->

		<br>
        <br>
        <br>
        <br>

	<p><%= link_to "Something missing? Please submit any public statements for #{@politician.name} that you do not see here", new_politician_written_statement_path(@politician.id) %></p>
